---
layout: page
title: 読みもの
latin: JOURNAL
permalink: /blog/
lead: 反物のこと、着付けのこと、この町のこと。店の者が書きためています。
---

<ul class="yomimono">
  {% for post in site.posts %}
  <li>
    <a class="hitokoma" href="{{ post.url | relative_url }}">
      <span class="hitokoma__hi">{{ post.date | date: "%Y.%m.%d" }}</span>
      <h2 class="hitokoma__dai">{{ post.title }}</h2>
      <span class="hitokoma__nukigaki">{{ post.excerpt | strip_html | truncate: 90 }}</span>
    </a>
  </li>
  {% endfor %}
</ul>

{% if site.posts.size == 0 %}
<p style="text-align:center;color:var(--sumi-usu);">まだ一篇も書いていません。</p>
{% endif %}
